<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Auto-Deal</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="width: 100%">
    <div class="row" style="width: 100%; height: 500px">
        <div class="col-xs-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">输入</h3>
                </div>
                <div class="panel-body">
                    <textarea id="queryList" type="text" style="width: 100%; height: 400px"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">整理内容</h3>
                </div>
                <div class="panel-body">
                    <textarea id="frontList" type="text" style="width: 100%; height: 400px"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-success" style="width: 100%; height: 500px">
                <div class="panel-heading">
                    <h3 class="panel-title">自动标记</h3>
                </div>
                <div class="panel-body">
                    <textarea id="markList" type="text" style="width: 100%; height: 400px"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" onclick="send()">整理</button>

    <hr>
    <div class="row" style="width: 100%; height: 500px">
        <div class="col-xs-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">插入数据库</h3>
                </div>
                <div class="panel-body">
                    <textarea id="insertList" type="text" style="width: 100%; height: 200px"
                              placeholder="请复制标记好的链路"></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="insert()">插入数据库</button>
    </div>
</div>


<script th:src="@{/jquery.3.2.1.min.js}"></script>
<script th:src="@{/bootstrap-4.5.3-dist/js/bootstrap.js}"></script>
<script th:src="@{/bootstrap-4.5.3-dist/js/bootstrap.bundle.js}"></script>
<script th:src="@{/sweetalert.min.js}"></script>
<script>
    function send() {
        var str = $('#queryList').val();
        $.ajax({
            type: "post",
            url: "/query",
            dataType: "json",
            data: {
                str: str
            },
            success: function (data) {
                swal("查询成功", {
                    icon: "success",
                    buttons: false,
                    timer: 1000,
                });
                var frontList = "";
                for (var int = 0; int < data.frontList.length; int++) {
                    frontList += data.frontList[int].name + data.frontList[int].mark + "\r\n";
                }
                $('#frontList').text(frontList);

                var markList = "";
                for (var int = 0; int < data.markList.length; int++) {
                    markList += data.markList[int].name + data.markList[int].mark + "\r\n";
                }
                $('#markList').text(markList);
            },
            error: function () {
                swal("查询失败", {
                    icon: "error",
                    buttons: false,
                    timer: 1000,
                });
            }
        });
    }

    function insert() {
        var str = $('#insertList').val();
        $.ajax({
            type: "post",
            url: "/insert",
            dataType: "json",
            data: {
                str: str
            },
            success: function () {
                swal("插入成功", {
                    icon: "success",
                    buttons: false,
                    timer: 1000,
                });
            }
        });
    }
</script>
</body>
</html>